<div id="header-container">

    <mat-tab-group mat-align-tabs="center">

        <mat-tab label="Monsters">
            <app-monsters></app-monsters>
            <!-- Monster Module here  -->

        </mat-tab>
        <mat-tab label="Spells">
            <app-custom-sidenav></app-custom-sidenav>
            <!-- Spellz Module Here -->

        </mat-tab>
        <mat-tab label="Races & Classes">
            <!-- Races & classes Module Here -->

        </mat-tab>
        <mat-tab label="Equipment">
            <!-- Equipment Module here -->

        </mat-tab> 
        
    </mat-tab-group>

</div>