/* You can add global styles to this file, and also import other style files */

body {
    font-family: "Poppins", sans-serif;
    /* background-color: brown; */
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



.background-image {
    background-image: url("./assets/images/rainy-muddy-ruin-dark.png");
    background-size: 100%;
    height: 100%;
    background-size: cover;
}