<div class="add-encounter-popup">
    
    <mat-card>
        <mat-card-title>New Encounter:</mat-card-title>
        <!-- <mat-card-subtitle>Start</mat-card-subtitle> -->
        <div class="input-field">
            <mat-form-field appearance="fill">
                <mat-label>Enter Encounter Name</mat-label>
                <input matInput #newNameInput>
        
            </mat-form-field>
            <br>
            <!-- <button mat-raised-button color="primary" (click)="searchClick(searchString.value)">Search</button> -->
            <!-- to apply to best practises this button/input/form-thingy should be changed to submit and the value extracted correctly..  -->
        </div>


        <mat-card-actions>
          <button mat-raised-button (click)="handleAddNewEncounter(newNameInput.value); handleAddClick()">ADD</button>
        </mat-card-actions>
      </mat-card>

</div>
