<h2 mat-dialog-title>Add Party Member</h2>

<mat-dialog-content>
    <h4>choose new party member's level:</h4>
    <mat-form-field appearance="fill">
        <mat-label>level</mat-label>
        <mat-select #newMemberLevelSelect>
            <mat-option *ngFor="let level of data" [value]="level">
                {{level}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button mat-dialog-close mat-dialog-close="{{newMemberLevelSelect.value}}">ADD</button>
    <button mat-button mat-dialog-close>RETURN</button>
</mat-dialog-actions>