.encounter-card {
    width: 240px;
    margin: 16px;
}

.mat-card-content {
    margin: 16px 0px 8px 0px;
}

.mat-card-title {
    font-size: 20px;
}

.difficulty-bar-placeholder {
    width: 30px;
    height: 120px;
    background-color: red;
}

.mat-card-lg-image {
    object-fit: cover;
    border-radius: 4px;
}

.difficulty-indicator {
    background-color: orange !important;
    color: orange !important;
    width: 1000px;
    /* NOTHING WORKS */
}