.encounter-card {
    width: 268px;
    margin: 16px;
}

.encounter-name {
    margin-bottom: 12px;
}

.mat-card-content {
    margin: 16px 0px 8px 0px;
}

.mat-card-title {
    font-size: 20px;
}

.difficulty-bar-placeholder {
    width: 30px;
    height: 120px;
    background-color: red;
}

.mat-card-lg-image {
    object-fit: cover;
    border-radius: 4px;
}

.mat-card-actions {
    padding: 0px;
}

.difficulty-circle {
    top: 28px;
    position: relative;
}

.difficulty-text {
    /* background-color: black; */
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}