.monster-card {
    max-width: 440px;
    margin: 16px;
}

.card-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: black; */
}


/* this styles where taken from mat-card-title */
.challenge-rating-indicator { 
    font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: normal;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 12px;
    margin-right: 14px;
}

.monster-characteristic {
    display: flex;
    margin-bottom: 4px;
}

.monster-characteristic-name {
    margin-right: 6px;
    font-weight: 500;
}

